<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.SiteTitle}} - {{.PageTitle}}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="bg-gray-100 text-gray-800 font-sans leading-normal">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        {{ template "header.html" . }}
        <main class="mt-8">
            {{ block "content" . }}{{ end }}
        </main>
        {{ template "footer.html" . }}
    </div>
</body>
</html>