{{ define "content" }}

{{ if .Posts }}
    <h2>{{ .PageTitle }}</h2>
    <ul>
    {{ range .Posts }}
        <li>
            <h3><a href="{{ .Title | urlize }}-{{ .Slug }}.html">{{ .Title }}</a></h3>
            <p>{{ .Description }}</p>
            <p>Published on: {{ .Date.Format "January 2, 2006" }}</p>
        </li>
    {{ end }}
    </ul>
    {{ if lt (len .Posts) .TotalPosts }}
        <p><a href="posts.html">View all {{ .TotalPosts }} posts</a></p>
    {{ end }}
{{ else }}
    <p>No posts available.</p>
{{ end }}
{{ end }}
