{{ define "content" }}
<h2 class="title">{{ .PageTitle }}</h2>

{{ if .Posts }}
    <ul class="posts">
    {{ range .Posts }}
        <li class="post">
            <a href="{{ .Title | urlize }}-{{ .Slug }}.html">
                <date>{{ .Date.Format "2006-01-02" }}</date>
                <div>
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Description }}</p>
                </div>
            </a>
        </li>
    {{ end }}
    </ul>
    {{ if lt (len .Posts) .TotalPosts }}
        <p><a href="posts.html">View all {{ .TotalPosts }} posts</a></p>
    {{ end }}
{{ else }}
    <p>No posts available.</p>
{{ end }}
{{ end }}
