<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .SiteTitle }} - Projects</title>
    <meta name="description" content="Projects by {{.SiteTitle}}">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{template "header.html" .}}

    <main>
        <h1>Projects</h1>
        {{ .Projects }}
    </main>

    {{template "footer.html" .}}

    <script src="/js/main.js"></script>
</body>
</html>
